* {
  margin: 0;
  padding: 0;
}

/* === Scrollbar === */

body::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-button {
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: #e0ddda;
  border-radius: 5px;
}

/* === Big Elements === */

html {
  scroll-behavior: smooth;
  background: url("img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #e0ddda;
  /* background-color: #333; */
  font-family: sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #333333f1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

article {
  margin-bottom: 70px;
}

.main-header {
  margin-bottom: 50px;
}

nav {
  background-color: #e0ddda;
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  /* gap: 20px; */
}

nav a:link,
nav a:visited {
  font-size: 25px;
  text-decoration: none;
  color: #49ffff;
  font-weight: bold;
  display: inline-block;
}

.article-header {
  margin-bottom: 60px;
  margin-left: 30px;
}

.article-header p {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 3px;
  margin: 0 0 0 15px;
}

.article-section {
  margin-bottom: 120px;
}

footer {
  text-align: center;
  font-size: 9pt;
  padding: 10px;
}

/* === Headers === */

h1 {
  font-size: 45px;
  color: #f0ab51;
  text-align: center;
  background-color: #e0ddda3a;
  padding: 10px 0 10px 0;
}

h2 {
  font-size: 50px;
  color: #ff94fa;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h3 {
  font-size: 35px;
  color: #b8a082;
  padding-left: 15px;
  margin: 0 0 60px 40px;
  border-left: 15px solid #b8a082;
}

h4 {
  font-size: 23px;
  color: #e9ff6b;
  margin-bottom: 20px;
  line-height: 1.75;
}

/* === Elements === */
p {
  font-size: 19px;
  line-height: 1.75;
  margin: 0 10px 15px 10px;
}

.section-o-mnie {
  margin-left: 35px;
  margin-right: 35px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 30px 50px;
  align-items: center;
  position: relative;
}

.header-omnie {
  grid-column: 1 / -1;
  margin: 0;
}

.taruros-icon {
  width: 200px;
  height: auto;
}

.o-mnie-p {
  margin: 0;
  flex: 1 1;
  text-align: justify;
}

/* === Link Styling === */

a:link,
a:visited {
  color: #49ffff;
  text-decoration: none;
  font-weight: bold;
}

/* === Projects section === */

/* .section-projekty{} */

.projects-list {
  list-style: none;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.projects-list p {
  margin-left: 0;
}

.projects-list li {
  padding-bottom: 30px;
  border-bottom: 3px solid #cfc5b82f;
  border-radius: 1px;
}

.projects-list li:last-child {
  padding-bottom: 0;
  border: none;
  border-radius: 0;
}

.projects-list .project-header {
  color: #c5ff3d;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.projects-list li .taruros-site-header {
  background: url("img/taruros-site-header-img.jpg");
  background-position: 50% 70%;
}

.projects-list .flexbox-abusers-header {
  background: url("https://webolog.net/wp-content/uploads/2021/12/CSS-FLEXBOX.png");
  background-position: 50% 52%;
}

.projects-list img {
  /* width: 100%; */
  /* height: 100px; */
  object-fit: cover;
  border-radius: 30px;
}

/* === Courses List === */

.courses-list {
  list-style: none;
  margin: 40px 50px auto 40px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

/* === List elements grid === */

.courses-list li {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 30px;
  align-items: start;
}

.courses-list li:nth-child(even) {
  text-align: right;
}

.courses-list li img {
  grid-row: 1 / 3;
}

.courses-list li:nth-child(even) img {
  grid-column: 2 / 3;
}

/* === Courses list items spacing === */

.courses-list h4 {
  margin: 0;
}

.courses-list .course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}

.courses-list p {
  margin: 0;
}

.courses-list li:last-child {
  margin-bottom: 0px;
}

/* === List elements styling === */

.courses-list li img {
  height: 200px;
  width: auto;
  border-radius: 20px;
}

.courses-list .course-title {
  font-size: 23px;
  color: #e9ff6b;
  margin-bottom: 10px;
}

/* === Strong === */

strong {
  color: #ffba3a;
}

.green {
  color: lightgreen;
}

/* === Buttons === */
.button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  cursor: pointer;
}

.fb-button {
  bottom: 20px;
  background: url("img/facebook.png");
  background-size: cover;
}

.ig-button {
  bottom: 90px;
  background: url("img/instagram.jfif");
  background-size: cover;
}

.twitter-button {
  bottom: 160px;
  background: url("img/twitter.png");
  background-size: cover;
}

.start-button:link,
.start-button:visited {
  text-decoration: none;
  font-size: 60px;
  position: fixed;
  right: 2%;
  bottom: 5%;
}
